
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://unpkg.com/twemoji@14.0.2/dist/twemoji.min.js');

.header-container {
  /* display: grid;
 place-items: center; */
 
}


h1 {
  
  font-size: 31px;
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 2.5px;
}

p {
  font-size: 14.8px;
  font-weight: 400;
  line-height: 100%;
}